# Distribution folders
global-s3-assets
regional-s3-assets
open-source

# Generated ouputs
console-manifest.json
dist
.coverage
coverage.xml
*pycache*
npm-debug.log
*.zip
*.xml
reports
*.pyc
.eggs
*.egg-info
.venv
.cache
.pytest_cache
.mypy_cache
.scannerwork
build

# Node dependencies
node_modules

# Misc
.DS_Store
.idea/
*sonarlint*
docs
test.sh
/deployment/global-s3-assets/
/deployment/regional-s3-assets/
source/bin/
source/pre-commit-hook.sh
source/ui/node_modules
source/ui/build
source/ui/package-lock.json
/source/botocore*
/source/boto3*
/source/dateutil/
/source/python_dateutil*
/source/docutils*
/source/futures-*
/source/jmespath*
/source/concurrent/
/source/s3transfer*
/source/six-*
/source/urllib3*
/source/six.py
/source/chardet*
/source/certifi*
/source/idna*
/source/requests*
/deployment/manifest-generator/node_modules