.DS_Store
.idea/
*.pyc
.eggs
*.egg-info
.cache
source/scratch/
*.sonarlint
**/.pytest_cache/
**/pycache/
**/__pycache__/
/deployment/global-s3-assets/
/deployment/regional-s3-assets/
source/bin/
source/pre-commit-hook.sh
source/ui/node_modules
source/ui/build
source/ui/package-lock.json
/source/botocore*
/source/boto3*
/source/dateutil/
/source/python_dateutil*
/source/docutils*
/source/futures-*
/source/jmespath*
/source/concurrent/
/source/s3transfer*
/source/six-*
/source/urllib3*
/source/six.py
/source/chardet*
/source/certifi*
/source/idna*
/source/requests*
