body {
    padding: 0;
    margin: 0;
}

.full-layout {
    display: flex;
    flex-direction: column;
}
.body-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.clickable-table tr[data-selection-item="item"]:hover {
    background: #eaeaea;
    cursor: pointer;
}