aws-lambda-powertools~=2.14.1
aws-lambda-typing~=2.17.0
boto3~=1.26.147
boto3-stubs~=1.26.147
botocore~=1.29.147
botocore-stubs~=1.29.147
certifi~=2022.12.7
charset-normalizer~=2.0.12
filelock~=3.12.0
idna~=3.4
jmespath~=0.10.0
python-dateutil~=2.8.2
requests~=2.31.0
s3transfer~=0.6.1
six~=1.16.0
types-awscrt~=0.16.19
types-s3transfer~=0.6.1
typing_extensions~=4.6.3
urllib3~=1.26.16
boto3-stubs~=1.26.0
boto3-stubs[essential]~=1.26.0
boto3-stubs[ram]~=1.26.0
boto3-stubs[sts]~=1.26.0
boto3-stubs[sns]~=1.26.0
boto3-stubs[organizations]~=1.26.0
boto3-stubs[stepfunctions]~=1.26.0
boto3-stubs[lambda]~=1.26.0
boto3-stubs[ec2]~=1.26.0
boto3-stubs[logs]~=1.26.0